* {
 margin: 0;
}

#root {
  margin: 0;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url('./assets/img/background-stars.svg');
  background-color: #070625;
  color: white;
}

